<header>
    <div class="sandwichButton">
        <img src="img/menu.png" alt="" ng-click="openCateg=true;" ng-show="!openCateg">
        <img src="img/cross.png" alt="" ng-click="openCateg=false;" ng-show="openCateg">
    </div>
    <div class="title">
        <h1 ng-show="lang == 'fra'">A propos</h1>
        <h1 ng-show="lang == 'eng'">About</h1>
    </div>
</header>
<ul class='category' ng-show="openCateg">
<!--    Menu commun :-->
    <li>
       <button class="" ng-show="lang=='fra'" ng-click="goTo('/lang')">Accueil</button>
        <button class="" ng-show="lang=='eng'" ng-click="goTo('/lang')">Home</button>
    </li>
    <!--<li>
        <button class="categActive" ng-show="lang=='fra'" ng-click="goTo('/home')">Accueil</button>
        <button class="categActive" ng-show="lang=='eng'" ng-click="goTo('/home')">Home</button>
    </li>-->
    <li>
        <button class="" ng-show="lang=='fra'" ng-click="goTo('/fav')">Favoris</button>
        <button class="" ng-show="lang=='eng'" ng-click="goTo('/fav')">Favorites</button>
    </li>
    <li>
        <button class="" ng-show="lang=='fra'" ng-click="goTo('/about')">À propos</button>
        <button class="" ng-show="lang=='eng'" ng-click="goTo('/about')">About</button>
    </li>
<!--    Fin Menu commun :-->
    
</ul>
<div id="slider-wrapper">
    <div class="ghost">
    <div ng-show="lang=='fra'">
        <center>
            <p class="littleMargin">
                Ce dictionnaire Anglais-Français équin audio est la version application mobile du glossaire de la formation Equi-Le@rning proposée par l’Université de Caen en partenariat avec Hippolia.
            </p>

            <h3 class="littleMargin"><b>Formation Equi-Le@rning</b></h3>
            <p class="littleMargin">
                Flexible, interactive et bénéficiant de l’appui pédagogique d’un professeur d’anglais expert du vocabulaire du cheval, la formation « Equi-le@rning » ouvre de nouvelles possibilités d’apprentissage aux personnes désireuses de dépasser les barrières de la langue anglaise pour développer leur activité avec l’étranger.
            </p>
            </center>
            </div>

<div ng-show="lang=='eng'">
        <center>
            <p class="littleMargin">
                This audio dictionary about English/French equine vocabulary is the application version of the Equile@rning course glossary. <br />
            The Equile@rning course is offered by the University of Caen Normandy in partnership with Hippolia. </p>

            <h3 class="littleMargin"><b>Equi-Le@rning</b></h3>
            <p class="littleMargin">
                Equile@rning is a flexible and interactive course, <br />
              offering new training perspectives to people interested in transcending language barriers to develop their activity abroad.
              <br />
          Equile@rning has been designed and is supervised by an English teacher specialized in equine vocabulary. </p>
            </center>
            </div>

<center>
            <video src="http://download2.cerimes.fr/canalu/videos/centre_d_enseignement_multimedia_universitaire_c_e_m_u_universit/pr.sentation.du.module.quin_8982/presentation_du_module_equin_8982.hd.mp4" controls="controls"></video>
            <div class="logoAlign">
                <a href="http://cemu.unicaen.fr/le-catalogue-des-formations-a-distance/anglais-equin/"><img src="./img/equilearningLogo.png" alt=""></a>
                <a href="www.unicaen.fr"><img src="./img/unicaenLogo.png" alt=""></a>
                <a href="http://pole-hippolia.org/"><img src="./img/hippoliaLogo.jpg" alt=""></a>
                <a href="https://www.normandie.fr/"><img src="./img/normandieLogo.png" alt=""></a>
            </div>
        </center>
    </div>
</div>
