<header>
    <div class="sandwichButton">
        <img src="img/menu.png" alt="" ng-click="openCateg=true;" ng-show="!openCateg">
        <img src="img/cross.png" alt="" ng-click="openCateg=false;" ng-show="openCateg">
    </div>
    <div class="title">
            <h1 ng-if="lang == 'fra'">Mots Favoris</h1>
            <h1 ng-if="lang == 'eng'">Favorite words</h1>
    </div>
</header>
<ul class='category' ng-show="openCateg">
<!--    Menu commun :-->
    <li>
       <button class="" ng-show="lang=='fra'" ng-click="goTo('/lang')">Accueil</button>
        <button class="" ng-show="lang=='eng'" ng-click="goTo('/lang')">Home</button>
    </li>
    <!--<li>
        <button class="categActive" ng-show="lang=='fra'" ng-click="goTo('/home')">Accueil</button>
        <button class="categActive" ng-show="lang=='eng'" ng-click="goTo('/home')">Home</button>
    </li>-->
    <li>
        <button class="" ng-show="lang=='fra'" ng-click="goTo('/fav')">Favoris</button>
        <button class="" ng-show="lang=='eng'" ng-click="goTo('/fav')">Favorites</button>
    </li>
    <li>
        <button class="" ng-show="lang=='fra'" ng-click="goTo('/about')">À propos</button>
        <button class="" ng-show="lang=='eng'" ng-click="goTo('/about')">About</button>
    </li>
<!--    Fin Menu commun :-->
    
</ul>
<div id="slider-wrapper" class="slider-content">
	<h3 ng-if="lang == 'fra'">Créer nouvelle liste</h3>
    <h3 ng-if="lang == 'eng'">Create a new list</h3>
    <hr>
	<form action="">
        <input ng-show='lang=="fra"' type="text" class="input" placeholder="Nom de la liste" ng-model="nameList">
        <input ng-show='lang=="eng"' type="text" class="input" placeholder="Name of the list" ng-model="nameList">
        <input ng-if="lang == 'fra'" type="submit" class="btn" ng-click="addList()" value="Créer">
        <input ng-if="lang == 'eng'" type="submit" class="btn" ng-click="addList()" value="Create">
    </form>
    
    <h3 ng-if="lang == 'fra'">Gestion de vos listes</h3>
    <h3 ng-if="lang == 'eng'">Manage your lists</h3>
    <hr>
    <ul class="nopuce">
        <li ng-if="tabFavList.length == 0" ng-show="lang=='fra'">Vous n'avez aucune liste pour le moment.</li>
        <li ng-if="tabFavList.length == 0" ng-show="lang=='eng'">You have no list yet.</li>
        <li ng-repeat="fav in tabFavList">
            <div class="mot mot-sm" ng-click="goToFavList(fav.id)">
            	<h3 class="title pull-left">{{fav.name}}</h3>
            	<button class="btn btn-sm pull-right" ng-click="showDeleteFavList(fav);$event.stopPropagation()">X</button>
            </div>
        </li>
    </ul>
    <div class="fakefooter">&nbsp;</div>
    
</div>
