<header>
    <div class="sandwichButton">
        <img src="img/menu.png" alt="" ng-click="openCateg=true;" ng-show="!openCateg">
        <img src="img/cross.png" alt="" ng-click="openCateg=false;" ng-show="openCateg">
    </div>
    <div class="title">
        <h1 ng-show="lang=='fra'">Langue</h1>
        <h1 ng-show="lang=='eng'">Language</h1>
    </div>
</header>
<ul class='category' ng-show="openCateg">
<!--    Menu commun :-->
    <li>
       <button class="" ng-show="lang=='fra'" ng-click="goTo('/lang')">Accueil</button>
        <button class="" ng-show="lang=='eng'" ng-click="goTo('/lang')">Home</button>
    </li>
    <!--<li>
        <button class="categActive" ng-show="lang=='fra'" ng-click="goTo('/home')">Accueil</button>
        <button class="categActive" ng-show="lang=='eng'" ng-click="goTo('/home')">Home</button>
    </li>-->
    <li>
        <button class="" ng-show="lang=='fra'" ng-click="goTo('/fav')">Favoris</button>
        <button class="" ng-show="lang=='eng'" ng-click="goTo('/fav')">Favorites</button>
    </li>
    <li>
        <button class="" ng-show="lang=='fra'" ng-click="goTo('/about')">À propos</button>
        <button class="" ng-show="lang=='eng'" ng-click="goTo('/about')">About</button>
    </li>
<!--    Fin Menu commun :-->
    
</ul>


<div id="slider-wrapper">
    <center>
        <h2 ng-show="infobar && lang == 'fra' ">Choisissez votre langue</h2>
        <h2 ng-show="infobar && lang == 'eng' ">Select your language</h2>
    </center>
    <center>
    <table>
        <tr>
            <td rowspan="2" align="right">
                <img src="img/uk.png" alt="" style="width: 50%;"/>
            </td>
            <td align="center">
                <a ng-click="selectLanguage('eng')">
                	<img ng-class="{langSelected: lang=='eng'}" src="img/switch_lang_1.png" alt="" style="width: 50%;"/>
                </a>
            </td>
            <td rowspan="2" align="left">
                <img src="img/fra.png" alt=""  style="width: 50%;"/>
            </td>
        </tr>
        <tr>
        <td align="center">
                <a ng-click="selectLanguage('fra')">
                	<img ng-class="{langSelected: lang=='fra'}" src="img/switch_lang_2.png" alt="" style="width: 50%;"/>
                </a>
            </td>
       <tr>
    </table>
    </center>
</div>
