<h2 ng-if="lang == 'fra'">Supprimer {{currentFavList.name}}</h2>
<h2 ng-if="lang == 'eng'">Delete {{currentFavList.name}}</h2>

<p ng-if="lang == 'fra'">Voulez vous supprimer cette liste ?</p>
<p ng-if="lang == 'eng'">Do you want delete this list ?</p>

<p>
    <button  class='newListBtn' ng-show="lang == 'eng'" ng-click="deleteFavList();closeThisDialog(0)">Yes</button>
    <button  class='newListBtn' ng-show="lang == 'fra'" ng-click="deleteFavList();closeThisDialog(0)">Oui</button>
    <button  class='newListBtn' ng-show="lang == 'eng'" ng-click="closeThisDialog(0)">No</button>
    <button  class='newListBtn' ng-show="lang == 'fra'" ng-click="closeThisDialog(0)">Non</button>
</p>