<h2 ng-if="lang == 'fra'">Ajouter aux favoris : {{wordNgDialog.frWord}}</h2>
<h2 ng-if="lang == 'eng'">Add in favorite : {{wordNgDialog.enWord}}</h2>
<ul class="addfavlist">
	<li ng-repeat="favList in tabFavList">
    	<div class="mot mot-sm" ng-click="addWordInFavList(favList,wordNgDialog)">
            <h3 class="title pull-left">{{favList.name}}</h3>
        </div>
	</li>
</ul>
<hr>
<button  class='newListBtn' ng-show="lang == 'eng'" ng-click="newList = true">New List</button>
<button  class='newListBtn' ng-show="lang == 'fra'" ng-click="newList = true">Nouvelle liste</button>
<form ng-show="newList">
        <input type="text" id="blured" class="input" placeholder="Nouvelle liste" ng-model="nameList">
        <input type="submit" class="btn" ng-show="lang == 'fra'" ng-click="addList(wordNgDialog);closeThisDialog(0)" value="Ajouter">
        <input type="submit" class="btn" ng-show="lang == 'eng'" ng-click="addList(wordNgDialog);closeThisDialog(0)" value="Add">
</form>