@charset "utf-8";
/* CSS Document */

*{
    outline:none;
    margin:0;padding:0;
    -moz-box-sizing: border-box; box-sizing: border-box;
}
.toast-bottom-full-width{
    bottom: 45px !important;
}
li {
    list-style-type: none;
}
html{
    height:100%;    
}
h4{
    padding-left: 15px;
}
body{
    height:100%;
    width:100%; 
	background:url(img/bg.jpg);
	background-size: cover;
	background-attachment:fixed;
	background-repeat:none;
	background-position:top center;
    font-family:'Source Sans Pro', Verdana, Sans-Serif;
    color:#FFF;
	position:relative;
    padding-bottom: 40px;
}

body a{
    color:#09F; 
    text-decoration:none;
}
body a:hover{
    color:#0CF; 
}
video{
    display: block;
    margin: auto;
    width: 90%;
}
.littleMargin {
    margin: 10px 5px;
}
.btn-close{
	position:fixed;
	bottom:47px;
	right:2px;
	background:#C00;
	color:#FFF;
	box-shadow:0px 0px 2px #fff;
	border-radius:4px;
	padding:9px 5px;	
	z-index:999999;
}


.loader{
	position: relative;
	width:100px;
	height:100px;
	margin:auto;
	margin-top:10%;
	top: calc(50% - (100 / 2));
	left: calc(50% - (100 / 2));		
}


h1{
	font-size:34px;	
	line-height:34px;
	color:#900;
	margin:10px 0px;
	text-shadow:1px 1px 3px white;
}
h1, h2, h3{ font-weight:lighter; }

.h1{ 
	color: white;
	text-shadow:none;
    font-size:80px;
    font-weight:300;
	margin-left:5px;
    line-height:80px;
}

.logo{
	width:70%;
	margin:5% 0px;	
}
.country img{
	width:30%;	
	cursor:pointer;
}

hr{
    width:70%;
    max-width:700px;
    color:#FFF;
    background-color:#FFF;
    height:1px; 
    border:none;
    margin-bottom:10px;
}

.trans{
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease; 
}

.swipe, .swipe2{
    position:fixed;
    top:45%;
    right:2%;
    opacity:0.3;
    cursor:pointer;
    width:100px;    
}
.swipe2{
    position:fixed;
    top:45%;
    left:2%;    
}

.swipe:hover, .swipe2:hover{ opacity:1;}

.hidden{ display:none;}

#container{
    width: calc( 100% - 25px );
    height:100%;
}

header{
    position:fixed;
    width:100%;
    background-color: #fdfdfd;
    top:0;
	z-index:8;
	color:#900;
    min-height: 50px;
}
header .search{
    height:40px;
    width:70%;
    margin:5px 15%;
    margin-left: 20%;
    border:1px solid rgba(190,190,190,0.9);
    border-radius:3px;
    text-align:center;
    font-size:18px;
    font-weight:300;
    color:#222; 
}

header .title{
    height:40px;
    width:70%;
    margin:5px 15%;
    margin-left: 20%;
    /*border:1px solid rgba(190,190,190,0.9);*/
    /*border-radius:3px;*/
    text-align:center;
    font-size:15px;
    font-weight:300;
    color:#222; 
}
header .title h1{
    font-size : 22px;
}

.input{
	height:35px;
    width:70%;
    border:1px solid rgba(190,190,190,0.9);
    border-radius:3px;
    text-align:left;
    font-size:18px;
	margin:1% 2%;
	padding:0px 5px;
    font-weight:300;
    color:#222; 
}

textarea{
	width:90%;
    border:1px solid rgba(190,190,190,0.9);
    border-radius:3px;
    text-align:left;
    font-size:18px;
	margin:1% 2%;
	padding:0px 5px;
    font-weight:300;
    color:#222; 
}

.fav{
	float:right;
	width:25px;	
}

.favbtn{
	position:absolute;
	right:0px;
	top:5px;
	width:35px;
	border:none;
	background:none;
}
.favimg{ width:60%;}

.btn,.newListBtn{
	height:35px;	
	width:auto;
	min-width:20%;
	background:#900;
    border:1px solid rgba(190,190,190,0.9);
    border-radius:5px;
    text-align:center;
    font-size:13px;
	margin:1%;
	padding:5px 10px;
    font-weight:300;
    color:white;
}
.newListBtn {
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    display: block;
}
.btn-sm{
	width:auto;
	height:auto;
	min-width:0px;
	padding:5px;	
}
.btn-lg{
	padding:10px 20px;
	margin-top:30px;	
}

.pull-left{
	float:left;	
}
.pull-right{
	float:right;	
}

.category{
    position: fixed;
    height: calc(100% - 50px);
    width: 200px;
	overflow-x:hidden;
    top:50px;
    left:0px;
	z-index:9999;
	background-color: #fdfdfd;
    transition: all 0.2s linear;
    overflow-y:scroll;
}
.category.ng-hide-remove-active{
    left:0px;
}
.category.ng-hide{
    left:-250px;
}
.category li {
    width: 100%;
}
.category li button, .category li a {
    padding:10px 5px;
	background-color: #fafafa;
    margin:0;
	color:#600;
	border:none;
	border-bottom:1px solid rgba(150, 0, 0, 0.4);
    font-size:1.0em;
	font-weight:300;
    width: 100%;
    text-align: left;
}
.categoryeng li button, .categoryeng li a {
		text-transform:capitalize;
}
.littlePaddingLeft {
    padding-left: 20px !important;
}


.category li button:hover:not(.inactive), .category li a:hover, .category li a.active ,.categActive{
	background-color: #600 !important;
	color:#fdfdfd !important;
}

.category li button.inactive{
    color: #999999 !important;
}

.category li h3 {
    background-color : #666;
    text-align: left;
    padding: 5px 0 5px 5px;
    font-size: 1.1em;
    font-weight: bold;
}
.contact{
    margin-top:50px;    
}
.sandwichButton{
    position: absolute;
    left: 2%;
    top:5px;
}
.sandwichButton img{
    position: absolute;
    width: 40px;
    top:0px;
    left:0px;
    transition: all 0.3s linear;
}
.sandwichButton img.ng-hide-add-active,.sandwichButton img.ng-hide{
    top:-100px;
    opacity:0;
}
.dico{
    position:fixed;
    z-index:10;
    width:25px;
    height:100%;
    top:50px;
    right:0px;
    background:rgba(0,0,0,0.4); 
    text-align:center;
}

.dico button{
    width:100%;
    display:block;
    font-size:12px;
    border:none;
    background:none;
    padding:1.5px;
    color:white;    
    cursor:pointer;
    border-radius:3px;
}
.dico button:hover{
    background:#FFF;
    color:#111; 
}

.fakefooter{height: 45px;max-height:45px;clear: both;}
.footer{
    position:fixed;
    bottom:-1px;
    z-index: 15;
    width:100%;
    height: 45px;
	margin-top:45px;
    background: rgba(0,0,0,0.9);
}

.footer .item{
    width:calc(100% / 3);
    text-align: center;
    padding: 2.5px;
    height: 100%;
	color:#111;
	background:rgba(250,250,250,0.9);
	border:none;
    display: block;
    float: left;
    border-right:1px solid rgba(250,250,250,0.7);
}
.footer .item:last{
    border-right:none;
}

.footer .item:focus, .active{
    background: rgba(160,0,0,0.8) !important;
	color:#fefefe !important;
}

.footer .item img{
	height:	40px;
	text-align:center;
}


#slider-wrapper{
    width:100%;
    //height: 100%;
    margin-top:60px;
	//padding-bottom:105px;
	margin-bottom:50px;
}


.slider-content{
	padding-left:8px;
	margin:0px;	
}

.letter{
    width:100%;
    float:left;
    overflow:hidden;
    padding:0px;
    clear: left;
}
.letter:last{
    margin-bottom:40px;
}
.letter .content{
    padding:5px;
    clear:left;
}

.bg1, .bg2, .bg3{
    background:rgba(100, 0, 0, 0);    
}

ul .nopuce, .nopuce li{
	list-style:none;	
}

.mot{
    display:block;
	position:relative;
	index:1;
    float: left;
    width: calc( 99% - 25px );
    margin:5px 0.5%;
    background:rgba(250,250,250,1);
	box-shadow: 0px 0px 6px #666;
    border-radius:1px;
    padding:7px;
    min-height:60px;
    cursor: pointer;
    opacity:1;
}

.mot-sm{ min-height:45px; }

.mot:hover{
    background:rgba(230,230,230,1);
}
.mot .title{
    font-size:17px;
	color: #CC0000;
    font-weight:200;
}
.mot p{ font-size:13px;
	color: #444;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide.ng-enter,
.slide.ng-leave , .slide.ng-enter *,
.slide.ng-leave *{
    -webkit-transition: top 0.4s ease, opacity 0.3s ease;
    -moz-transition: top 0.4s ease, opacity 0.3s ease;
    -o-transition: top 0.4s ease, opacity 0.3s ease;
    transition: top 0.4s ease, opacity 0.3s ease;
}
.slide.ng-enter {
    top: 100%;
    opacity:0;
}
.slide.ng-enter-active {
    top: 0;
    opacity:1;
}
.slide.ng-leave {
    top: -100%;
    opacity:0;

}

.listAnimate.ng-enter,
.listAnimate.ng-leave , .listAnimate.ng-enter *,
.listAnimate.ng-leave *{
    -webkit-transition: top 0.7s ease, opacity 0.5s ease;
    -moz-transition: top 0.7s ease, opacity 0.5s ease;
    -o-transition: top 0.7s ease, opacity 0.5s ease;
    transition: top 0.7s ease, opacity 0.5s ease;
}
.listAnimate.ng-enter {
    opacity:0;
}
.listAnimate.ng-enter-active {
    opacity:1;
}
.listAnimate.ng-leave {
    opacity:0;

}

.loaderHome{
    position: absolute;
    top:40px;
    bottom:40px;
    left:0;
    width:100%;
    height: 100%;
    text-align: center;
    margin: auto;
    z-index: 9;
    background-color:rgba(0,0,0,0.5);
}
.loaderHome .loader {
    margin-top: 50%;
}
.langSelected {
    border: 5px solid green;
    border-radius:50%;
}
.infoBar{
    margin: 5px;
    color:green;
    font-weight: bold;
    text-align: center;
}
.logoAlign{
    margin-top: 10px;
    text-align: center;
    width: 90%;
/*    background-color:  white;*/
}
.logoAlign img{
    width: 100px;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

.category li h3{ color:#fff;}