<header>
 <div class="sandwichButton">
        <a class='backBtn' href="#/fav"><img src='img/back.png' alt='' /></a>
    </div>
    <div class="searchBar">
        <input ng-show="lang=='fra'" class="search" type="text" ng-model="searchWord" placeholder="Rechercher un mot...">
        <input ng-show="lang=='eng'" class="search" type="text" ng-model="searchWord" placeholder="Search a word...">
    </div>
</header>
<div id="slider-wrapper">
    <center><h1>{{favList.name}}</h1></center>
    <div class="letter {{wordLetter.letter}}" ng-class="( $index%3 == 0 ? 'bg1' : ( $index%3==1 ? 'bg2' : 'bg3'))" ng-repeat="wordLetter in favListWords">
        <div class="content">
            <div ng-if="lang=='fra'" class="mot animate" ng-click="playSound(word)" ng-repeat="word in wordLetter.words | filter:searchWord | categFilter:currentCateg">
                <h3 class="title">{{word.frWord}}</h3> <p class="description">{{word.enWord | lowercase}}</p> <button class="favbtn btn btn-sm" ng-click="deleteWordInTabList(word);$event.stopPropagation()">X</button>
            </div>
            <div ng-if="lang=='eng'" class="mot animate" ng-click="playSound(word)" ng-repeat="word in wordLetter.words | filter:searchWord | categFilter:currentCateg">
                <h3 class="title">{{word.enWord}}</h3> <p class="description">{{word.frWord | lowercase}}</p> <button class="favbtn btn btn-sm" ng-click="deleteWordInTabList(word);$event.stopPropagation()">X</button>
            </div>
        </div>
    </div>
</div>
<div class="dico">
    <button class="{{wordLetter.letter}}" ng-repeat="wordLetter in favListWords">{{wordLetter.letter}}</button>
</div>
<div class="footer">
    <a href="#/home" class="item"><img src='img/home.png' alt='' /></a>
    <a href ="#/fav/" class="item"><img src='img/fav.png' alt='' /></a>
    <a href ="#/lang/" class="item"><img src='img/switch.png' alt='' /></a>
</div>