<header>
    <div class="sandwichButton">
        <img src="img/menu.png" alt="" ng-click="openCateg=true;" ng-show="!openCateg">
        <img src="img/cross.png" alt="" ng-click="openCateg=false;" ng-show="openCateg">
    </div>
    <div class="title">
        <h1 ng-if='lang == "fra"'>Contactez-nous</h1>
        <h1 ng-if='lang == "eng"'>Contact us</h1>
    </div>
</header>
<ul class='category' ng-show="openCateg">
<!--    Menu commun :-->
    <li>
       <button class="" ng-show="lang=='fra'" ng-click="goTo('/lang')">Accueil</button>
        <button class="" ng-show="lang=='eng'" ng-click="goTo('/lang')">Home</button>
    </li>
    <!--<li>
        <button class="categActive" ng-show="lang=='fra'" ng-click="goTo('/home')">Accueil</button>
        <button class="categActive" ng-show="lang=='eng'" ng-click="goTo('/home')">Home</button>
    </li>-->
    <li>
        <button class="" ng-show="lang=='fra'" ng-click="goTo('/fav')">Favoris</button>
        <button class="" ng-show="lang=='eng'" ng-click="goTo('/fav')">Favorites</button>
    </li>
    <li>
        <button class="" ng-show="lang=='fra'" ng-click="goTo('/about')">À propos</button>
        <button class="" ng-show="lang=='eng'" ng-click="goTo('/about')">About</button>
    </li>
<!--    Fin Menu commun :-->
    
</ul>
<div id="slider-wrapper">
    <center>
    <p ng-if='lang == "fra"'>Donnez-nous votre avis sur l'application !</p>
    <p ng-if='lang == "eng"'>Tell us what you think about this app!</p>
    <h3 ng-show="infobar && lang == 'fra' ">Merci de votre retour !</h3>
    <h3 ng-show="infobar && lang == 'eng' ">Thanks for your feedback !</h3>
    <form action="">
        <input type="mail" class="input" placeholder="Email" ng-model="email">
        <textarea rows="5" ng-show='lang =="fra"' placeholder="Vos remarques" ng-model="content" ></textarea>
        <textarea rows="5" ng-show='lang =="eng"' placeholder="Your comments" ng-model="content" ></textarea>   
        <br />
        <input class="btn" type="submit" value="Envoyer / Send" ng-click="send()">
    </form>
    </center>
</div>
