<header>
    <div class="sandwichButton">
        <img src="img/menu.png" alt="" ng-click="openCateg=true;" ng-show="!openCateg">
        <img src="img/cross.png" alt="" ng-click="openCateg=false;" ng-show="openCateg">
    </div>
    <div class="searchBar">
        <input ng-show="lang=='fra'" class="search" type="text" ng-model="searchWord" placeholder="Rechercher un mot..." ng-minlength="3">
        <input ng-show="lang=='eng'" class="search" type="text" ng-model="searchWord" placeholder="Search a word..." ng-minlength="3">
    </div>
</header>
<ul class='category' ng-show="openCateg">
<!--    Menu commun :-->
    <li>
       <button class="" ng-show="lang=='fra'" ng-click="goTo('/lang')">Accueil</button>
        <button class="" ng-show="lang=='eng'" ng-click="goTo('/lang')">Home</button>
    </li>
    <!--<li>
        <button class="categActive" ng-show="lang=='fra'" ng-click="goTo('/home')">Accueil</button>
        <button class="categActive" ng-show="lang=='eng'" ng-click="goTo('/home')">Home</button>
    </li>-->
    <li>
        <button class="" ng-show="lang=='fra'" ng-click="goTo('/fav')">Favoris</button>
        <button class="" ng-show="lang=='eng'" ng-click="goTo('/fav')">Favorites</button>
    </li>
    <li>
        <button class="" ng-show="lang=='fra'" ng-click="goTo('/about')">À propos</button>
        <button class="" ng-show="lang=='eng'" ng-click="goTo('/about')">About</button>
    </li>
<!--    Fin Menu commun :-->
    
    <li>
        <h3 ng-show="lang=='fra'">Catégories</h3>
        <h3 ng-show="lang=='eng'">Categories</h3>
    </li>
    <li ng-show="lang == 'fra'"><button class="littlePaddingLeft" ng-class="{true: 'categActive'}[currentCateg == null]" ng-click="displayCateg(null)">Toutes les catégories</button></li>
    <li ng-show="lang == 'eng'"><button class="littlePaddingLeft" ng-class="{true: 'categActive'}[currentCateg == null]" ng-click="displayCateg(null)">All categories</button></li>
    <li ng-repeat="categ in tabCategsHome">
        <button ng-show="lang=='eng'" class="littlePaddingLeft" ng-class="{true: 'categActive'}[currentCateg == categ.id]" ng-click="displayCateg(categ)">{{categ.name}}</button>
        <button ng-show="lang=='fra'" class="littlePaddingLeft" ng-class="{true: 'categActive'}[currentCateg == categ.id]" ng-click="displayCateg(categ)">{{categ.frname}}</button>
    </li>
</ul>
<div ng-hide="loaderHidden" class='loaderHome slide'>
    <div class="loader">
        <img src="img/loader.gif" />
    </div>
</div>
<div id="slider-wrapper" infinite-scroll='loadMore()' infinite-scroll-distance='1'>
    <h2 ng-if="lang == 'fra'" ng-show="showNoWords">Aucun mot associé</h2>
    <h2 ng-if="lang == 'eng'" ng-show="showNoWords">No word found</h2>
    <h4 ng-if="lang == 'fra'" ng-show="lang=='fra'">Cliquer pour écouter le mot anglais</h4>
    <h4 ng-if="lang == 'eng'" ng-show="lang=='eng'">Click on the word to hear it in French</h4>
             <div class="mot slideLeft" ng-click="playSound(word)" ng-repeat="word in tabWordsHome | filter : searchWord | categFilter: currentCateg">

                <h3 ng-if="lang == 'fra'" class="title">{{word.frWord}}</h3>
                <p ng-if="lang == 'fra'" class="description">{{word.enWord | capitalize}}</p>

                <h3 ng-if="lang == 'eng'" class="title">{{word.enWord | capitalize}}</h3>
                <p ng-if="lang == 'eng'" class="description">{{word.frWord}}</p>

                <button class="favbtn" ng-click="showDialogAddWordInFavList(word);$event.stopPropagation()"><img src="img/fav3.png" class="favimg" /></button>
            </div>
     	<div class="fakefooter">&nbsp;</div>
    </div>
</div>
<div class="dico">
    <button ng-class="{true: 'active'}[currentLetter == null]" ng-click="goToLetter(null)">A.Z</button>
    <button class="{{wordLetter.letter}}" ng-class="{true: 'active'}[currentLetter == wordLetter.letter]" 
            ng-click="goToLetter(wordLetter.letter)" 
            ng-repeat="wordLetter in tabLetters">{{wordLetter.letter | uppercase}}</button>
</div>


