<center>
<img src="img/logo.png" class="logo" />
<h2 ng-if='lang=="fra"'>Veuillez patienter</h2>
<h2 ng-if='lang=="eng"'>Please wait</h2>
</center>

<div class="loader">
<img src="img/loader.gif" />
</div>
